body {
	background-color: #141414;
	font-family: Helvetica, Arial, sans-serif;
}

code {
	font-size: 11pt
}

h1 {
	color: whitesmoke;
	font-size: 4em;
	font-weight: bolder;
	position: absolute;
	right: 10px;
	top: 5px;
}

h5 {
	color: rebeccapurple;
	font-size: 1em;
	position: absolute;
	right: 25px;
	top: 95px;
}

nav {
	position: relative;
	top: 150px;
	margin-left: 10%;
	margin-right: 10%;
}

nav > a {
	padding: 15px;
}

section {
	position: relative;
	top: 180px;
	margin-left: 10%;
	margin-right: 10%;
	width: 60em;
}

footer {
	color: whitesmoke;
	font-size: 0.75em;
	position: relative;
	margin-left: 10%;
	top: 220px;
	margin-bottom: 15px;
}

a {
	color: #A524FF;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #EEBAFF;
}

h3 {
	color: whitesmoke;
}

h4 {
	color: rebeccapurple;
}

h4.post_type {
	text-decoration: underline;
}

p {
	color: whitesmoke;
}

.accent {
	color: #CC99FF;
}

pre {
	color: whitesmoke;
}

.photo-row > img {
	padding: 0.5em;
}

p.caption {
	text-align: center;
	font-style: italic;
}

img.golden {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 332px;
	height: 223px;
}

img.img-circle {
	border-radius: 50%;
	height: 9em;
	width: 9em;
}

.screenshot {
	width: 800px;
	height: 450px;
}

ul {
	color: whitesmoke;
}

.blog {
	line-height: 170%;
}

span {
	text-decoration: underline;
}








